*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("../media/back.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.buscar {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.buscar input[type="text"] {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.buscar span {
    background-color: #4285f4;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.buscar label {
    font-size: 24px;
    color: white;
}

#code {
    border: solid .2rem transparent;
    opacity: 0; /* Hacer el input transparente */
    position: absolute; /* Posición absoluta para mantenerlo fuera de la vista */
}


